<table class="table table-striped">
  <tr>
    <th>Результат операции</th>
    <th></th>

    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @result %></td>
    <td><a href="/">На главную</a></td>
    <td><a href="/form/add">f: +</a></td>
    <td><a href="/form/sub">f: -</a></td>
    <td><a href="/form/sub">f: *</a></td>
    <td><a href="/form/sub">f: /</a></td>
  </tr>
</table>